<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>HotlinkPayment</servlet-name>
  	<display-name>HotlinkPayment</display-name>
  	<description></description>
  	<servlet-class>com.bubanc.gateway.provider.HotlinkPayment</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HotlinkPayment</servlet-name>
  	<url-pattern>/hotpay.html</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>MaxisPayment</servlet-name>
  	<display-name>MaxisPayment</display-name>
  	<description></description>
  	<servlet-class>com.bubanc.gateway.provider.MaxisPayment</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MaxisPayment</servlet-name>
  	<url-pattern>/maxispay.html</url-pattern>
  </servlet-mapping>  
  
  <servlet>  
  <servlet-name>jersey-serlvet</servlet-name>  
  <servlet-class>  
         org.glassfish.jersey.servlet.ServletContainer
   </servlet-class>  
   <init-param>
    <param-name>javax.ws.rs.Application</param-name>
    <param-value>com.bubanc.gateway.provider.RestApplication</param-value>
	</init-param>     
  <load-on-startup>1</load-on-startup>  
 </servlet>
  <servlet>
  	<servlet-name>MaxisPayment</servlet-name>
  	<display-name>MaxisPayment</display-name>
  	<description></description>
  	<servlet-class>com.bubanc.gateway.provider.MaxisPayment</servlet-class>
  </servlet>  
   
 <servlet-mapping>  
  <servlet-name>jersey-serlvet</servlet-name>  
  <url-pattern>/rest/*</url-pattern>  
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>MaxisPayment</servlet-name>
 	<url-pattern>/MaxisPayment</url-pattern>
 </servlet-mapping> 
  
</web-app>
